/* -----------------------------
		VARIABLES:
		1. Colors
		2. Fonts
----------------------------- */

// 1. Colors
$color--luna: rgba(137, 113, 208, 0.6);
$color--ash: rgba(20, 197, 151, 0.6);
$color--luna-section: rgba(137, 113, 208, 1);
$color--ash-section: #14c597;
$color--link: #fff275;
$color--heading: #fff;
$color--text: #fff;
$color--dark: #2e282a; // footer bg
$color--darkblue: #27A8E9; // header gradient, nav button
$color--lightblue: #94D2E5; // header gradient


// 2. Fonts
$font--title: 'Caveat Brush', 'Lato', Helvetica, Arial, Verdana, sans-serif;
$font--heading: 'Lato', Helvetica, Arial, Verdana, sans-serif;
$font--body: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;






